@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Fraunces', serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}

.container-card {
    background-color: white;
    width: 47%;
    height: 55%;
    border-radius: 20px;
    display: flex;
}

.card-img {
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background-image: url("../images/image-product-desktop.jpg");
    background-size: cover;
}
/* .container {
    width: 50%;
    height: 100%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: red;
} */
.container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: 100%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);

    margin: 0px 0 20px 30px;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", serif;
    margin-left: 30px;
    width: 57%;
    font-size: 2rem;
}

.description {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", serif;
    font-weight: 500;
    line-height: 1.7;

    width: 70%;
    margin: 30px 0px 30px 30px;
}

.container-price {
    display: flex;
    align-items: center;
    font-family: "Fraunces", serif;
    margin: 0px 0px 30px 30px;
}
.price {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2rem;
    margin-right: 25px;
}
.last-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button svg {
    margin-right: 10px;
}

button:hover {
    background-color: hsl(159, 34%, 27%);
}

.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 376px) {
    .container-card {
        flex-direction: column;
        width: 90%;
        height: 85%;
    }
    .card-img {
        width: 100%;
        height: 40%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background-image: url("../images/image-product-mobile.jpg");
        background-size: cover;
    }

    .container-description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        height: auto;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: hsl(228, 12%, 48%);
        margin-left: 25px;
        margin-bottom: 15px;
        margin-top: 25px;
    }
    h1 {
        color: hsl(212, 21%, 14%);
        font-family: "Fraunces", serif;
        margin-left: 25px;
        width: 80%;
        font-size: 1.8rem;
    }
    .description {
        color: hsl(228, 12%, 48%);
        font-family: "Montserrat", serif;
        font-weight: 500;
        line-height: 1.5;

        width: 87%;
        margin: 25px 0px 25px 25px;
    }
    button {
        background-color: hsl(158, 36%, 37%);
        color: white;
        border: none;
        width: 88%;
        height: 45px;
        margin: 0 auto;
        border-radius: 10px;
        cursor: pointer;
    }
}
